@font-face { 
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Regular.eot");
    src: url("../fonts/Unbounded-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Unbounded-Regular.woff") format("woff"),
    url('../fonts/Unbounded-Regular.woff2') format('woff2'),
    url("../fonts/Unbounded-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face { 
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Medium.eot");
    src: url("../fonts/Unbounded-Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Unbounded-Medium.woff") format("woff"),
    url('../fonts/Unbounded-Medium.woff2') format('woff2'),
    url("../fonts/Unbounded-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face { 
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-SemiBold.eot");
    src: url("../fonts/Unbounded-SemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Unbounded-SemiBold.woff") format("woff"),
    url('../fonts/Unbounded-SemiBold.woff2') format('woff2'),
    url("../fonts/Unbounded-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face { 
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.eot");
    src: url("../fonts/Unbounded-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Unbounded-Bold.woff") format("woff"),
    url('../fonts/Unbounded-Bold.woff2') format('woff2'),
    url("../fonts/Unbounded-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face { 
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Black.eot");
    src: url("../fonts/Unbounded-Black.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Unbounded-Black.woff") format("woff"),
    url('../fonts/Unbounded-Black.woff2') format('woff2'),
    url("../fonts/Unbounded-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}


@font-face { 
    font-family: "SuisseIntl";
    src: url("../fonts/SuisseIntl-Regular.eot");
    src: url("../fonts/SuisseIntl-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SuisseIntl-Regular.woff") format("woff"),
    url('../fonts/SuisseIntl-Regular.woff2') format('woff2'),
    url("../fonts/SuisseIntl-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face { 
    font-family: "SuisseIntl";
    src: url("../fonts/SuisseIntl-Regular.eot");
    src: url("../fonts/SuisseIntl-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SuisseIntl-Regular.woff") format("woff"),
    url('../fonts/SuisseIntl-Regular.woff2') format('woff2'),
    url("../fonts/SuisseIntl-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face { 
    font-family: "SuisseIntl";
    src: url("../fonts/SuisseIntl-SemiBold.eot");
    src: url("../fonts/SuisseIntl-SemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SuisseIntl-SemiBold.woff") format("woff"),
    url('../fonts/SuisseIntl-SemiBold.woff2') format('woff2'),
    url("../fonts/SuisseIntl-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face { 
    font-family: "SuisseIntl";
    src: url("../fonts/SuisseIntl-Bold.eot");
    src: url("../fonts/SuisseIntl-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SuisseIntl-Bold.woff") format("woff"),
    url('../fonts/SuisseIntl-Bold.woff2') format('woff2'),
    url("../fonts/SuisseIntl-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face { 
    font-family: "SuisseIntl";
    src: url("../fonts/SuisseIntl-Black.eot");
    src: url("../fonts/SuisseIntl-Black.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SuisseIntl-Black.woff") format("woff"),
    url('../fonts/SuisseIntl-Black.woff2') format('woff2'),
    url("../fonts/SuisseIntl-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}