$blackGray: rgba(21, 21, 21, 1);
$white: rgba(255, 255, 255, 1);
$lightBlue : rgba(143, 143, 255, 1);
$purple: rgba(163, 163, 255, 1);
$pink: rgba(254, 100, 250, 1);
$lightBlue2 : rgba(224, 234, 255, 1);
$blue: rgba(100, 100, 255, 1);
$yellow: rgba(255, 235, 28, 1);
$lightGray: rgba(240, 240, 240, 1);
$black:  rgba(0, 0, 0, 0.5);
$red : rgb(255, 0, 0);