.wrapper__modal {
    position: fixed;
    top: 0;
    overflow: auto;
    width: 100%;
    z-index: 10;
    min-height: 100vh;
    .modal__overlay {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background: linear-gradient(310.97deg, rgba(217, 217, 217, 0.3) -10.41%, rgba(217, 217, 217, 0) 101.72%);
        border: 1.51852px solid rgba(149, 149, 149, 0.1);
        box-shadow: inset -3px -6px 9px rgba(255, 255, 255, 0.25);
    }
    .modal__content {
        max-width: 500px;
        margin: 0 auto;
        position: absolute;
        top: 10vh;
        left: 0;
        right: 0;
        z-index: 11;
        .modal__message {
            position: relative;
            padding: 40px;
            background: linear-gradient(280deg, rgba(164, 164, 164, 0.1), rgba(29, 29, 29, 0.8));
            box-shadow: 14px 15px 43px 0px rgba(194, 194, 194, 0.05) inset, 0px 65px 130px -5px rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(15px);
            border: 1px solid rgb(149, 149, 149, 0.5);
            border-radius: 24px;
            .message__close {
                cursor: pointer;
                z-index: 6;
                position: absolute;
                top: 40px;
                right: 40px;
                height: 32px;
                width: 32px;
                background-image: url(../../img/favicon/close-icons.svg);
                background-size: cover;
                background-repeat: no-repeat;
            }

            .form {
                &__title {
                    font-family: "SuisseIntl";
                    font-weight: 600;
                    font-size: 40px;
                    color: $lightGray;
                    margin: 0 0 24px 0;
                }
                &__content {
                    .content__input {
                        margin: 16px 0 0 0;
                        border: 1px solid rgb(149, 149, 149, 0.5);
                        background: linear-gradient(280deg, rgba(164, 164, 164, 0.1), rgba(29, 29, 29, 0.8));
                        box-shadow: 14px 15px 43px 0px rgba(194, 194, 194, 0.05) inset, 0px 65px 130px -5px rgba(0, 0, 0, 0.05);
                        backdrop-filter: blur(15px);
                        border-radius: 8px;
                        font-size: 20px;
                        color: #454545;
                        padding: 12px 20px;
                        width: 100%;
                    }
                    .content__error-message {
                        color: #FF5858;
                        position: relative;
                        line-height: 0px;
                        opacity: 0;
                        transition: all .2s;
                        font-size: 13px;
                        margin: 8px 0 -8px 0;
                        background: rgba(255, 255, 255, 0.7);
                        border-radius: 2px;
                        padding: 0;
                        width: max-content;
                        max-width: 100%;
                    }
                    .form__btn {
                        font-family: "Unbounded";
                        font-weight: 500;
                        font-size: 16px;
                        width: 100%;
                        text-align: center;
                        color: $white;
                        padding: 20px 24px;
                        margin: 24px 0 0 0;
                        background: $lightBlue;
                        border-radius: 8px;
                        cursor: pointer;
                        transition: .2s all;
                    }

                    .form__btn:hover {
                        background: $blue;
                    }

                    .form__agreement {
                        margin: 16px 0 0 0;
                        .form__checkbox {
                            position: absolute;
                            z-index: -1;
                            opacity: 0;
                        } 
                        .form__checkbox + label {
                            display: block;
                            user-select: none;
                            line-height: 16px;
                            padding: 0 10px 0 35px;
                            font-weight: 400;
                            position: relative;
                            font-size: 12px;
                            color: $lightGray;
                            opacity: 0.8; 
                            a {
                                color: inherit;
                                text-decoration: underline;
                            }
                        }
                        .form__checkbox + label::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 3px;
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            background: transparent;
                            border-radius: 2px;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: 13px;
                            cursor: pointer;
                            border: 1px solid $lightGray;
                        }
                        .form__checkbox:checked + label::before {
                           background: url(../../img/favicon/checkbox-modal.svg);
                           background-size: 80%;
                           background-repeat: no-repeat;
                           background-position: center center;
                        }
                    }
                }
            }
        }
    }
}